<div class="how-it-works__container">
  <h2 class="how-it-works__heading">{{ section.settings.heading }}</h2>

  {% if section.blocks.size > 0 %}
    <div class="process-steps__grid">
      {%- for block in section.blocks -%}
        <div class="process-steps__item">
          {%- unless block.settings.item_icon == blank -%}
            {{ block.settings.item_icon | image_url: width: 200 | image_tag: class: 'process-steps__item-icon' }}
          {%- endunless -%}

          {%- unless block.settings.item_text == blank -%}
            <div class="process-steps__item-text">{{ block.settings.item_text }}</div>
          {%- endunless -%}
        </div>
      {%- endfor -%}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "How it works",
  "tag": "section",
  "class": "how-it-works",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "item_icon",
          "label": "Icon"
        },
        {
          "type": "richtext",
          "id": "item_text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "How it works"
    }
  ]
}
{% endschema %}