.product-search-item {
  width: 100%;
}

.product-search-item__image {
  position: relative;
  width: 100%;
}

.product-search-item__image::before {
  content: '';
  padding-top: 100%;
  width: 100%;
  display: block;
}

.product-search-item__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-search-item__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.38px;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 4px;
}

.product-search-item__price {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.38px;
  margin: 0;
}

.product-search-item__compare-at-price {
  text-decoration: line-through;
}

.product-search-item__regular-price {
  font-weight: 600;
  font-size: 12px;
  color: #D12C00;
}

@media (max-width: 768px) {
  .product-search-item--desktop {
    display: none;
  }
}