.wrapper__ben_heading {
    font-size: 35px;
    font-weight: 600;
}

.wrapper__ben_heading p,
.wrapper__ben_heading em {
    text-transform: none;
}


.wrapper__ben_heading em {
    font-family: Albra;
    font-style:normal;
}

.ben_islands__item h5 {
    letter-spacing: normal;
    margin: 5px 0;
    font-size: 16px;
}

.benefits__wrapper {
    max-width: 1240px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ben_islands__item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.wrapper__ben_islands {
    width: 70%;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.benefits {
    display: flex;
    justify-content: center;
}

.ben_islands__item img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .wrapper__ben_heading {
        text-align: center;
    }
  .wrapper__ben_islands{
        padding: 0 20px;
    width: 100%;
  }
}

@media (max-width: 490px) {
    .ben_islands__item {
        width: 45%;
    }
}