.images-slider__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    column-gap: 10px;
}

.images-slider__header-title {
    margin: 0;
    text-transform: uppercase;
}

.images-slider__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px
}

.images-slider__actions-button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: 0;
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer
}

.images-slider__actions-button.swiper-button-disabled {
    opacity: 0.5;
}
.images-slider__actions-button svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%
}

.images-slider__grid-wrapper {
    display: flex
}

.popular-slide .product-card-mini  {
    width: 100%;
}

.images-slider__image-wrapper img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.images-slider__image-wrapper{
    aspect-ratio: 1 / 2;
}

@media (max-width:768px) {
    .images-slider__header-title {
        font-size: 24px
    }

    .images-slider__actions-button {
        width: 24px;
        height: 24px
    }
}