.logo-grid__items{
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 20px;
}

.logo-grid h2{
    margin-bottom: 40px;
}

.logo-grid__buttons{
    margin-top: 50px;
}

.logo-grid__item{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;

    & .item__text > p {
        font-weight: 500;
        margin: 0;
        font-size: 20px;
    }
}



.logo-grid__item img{
    max-width: var(--logo-grid-image-size);
    max-height: var(--logo-grid-image-size);
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.logo-grid__buttons a{
    display: inline-block;
}

.logo-grid__buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.logo-grid__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
}

@media screen and (max-width: 750px) {
    .logo-grid--center-last .logo-grid__item:last-child {
        grid-column: 1 / -1;
        max-width: 170px;
        margin: auto;
    }

    .logo-grid__buttons{
        margin-top: 20px;
        justify-content: center;
    }
    
    .logo-grid__items{
        grid-template-columns: repeat(var(--columns-mobile), 1fr);
        gap: 15px;
    }

    .logo-grid__wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .logo-grid__buttons a {
        width: 100%;
    }
}